**/.Xil
**/Work
/aie_overlay/Work_*
**/_x
**/.ipcache
/aie_overlay/data/*.txt
**.npy
**.log
**.db
/.vscode
**.bmp
**.xclbin
**.a
**.xo
**.xsa
**.BIN
**.bin
**.bif
**.compile_summary
**.package_summary
**.link_summary
**.xml
**.pb
**.jou
**.wdb
**.ltx
/krnl_rgb_mover/xsim.dir
/krnl_rgb_mover/vivado_pack_krnl_project
/krnl_rgb_mover/ip_generation
**.exe
**.dat
/hw/compile_log.txt
/aie_overlay/Map_Report.csv
/krnl_jpeg/krnl_jpeg_test
/aie_overlay/.AIE_SIM_CMD_LINE_OPTIONS
/aie_overlay/ISS_RPC_SERVER_PORT
/aie_overlay/pl_sample_count*
/aie_overlay/aiesimulator_output
/aie_overlay/.nfs*
/aie_overlay/temp
